body{
    margin: 4.375rem;
    font-family: sans-serif;
}
.main{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ddd0c8;
    

}
.heading{
    display: flex;
    font-size: 24px;

}
.box1{
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 20vh;
    padding-top: 10px;
    align-items: center;

}
.imgborder{
    border: 2px solid black;
    border-radius: 4px;
}
.buttongroup{
    border: 1px solid black;
    border-radius: 5px;
}
.buttongroup button{
    border-radius: 4px;
    border: hidden;
    background-color: #ddd0c8;

}
#textbox{
    width: 20px;
    border: 1px solid black;
    border-top: hidden;
    border-bottom: hidden;
    background-color: #ddd0c8;
}