body{
    background-color:slategrey;
    font-style:italic;
    font-weight: bold;

}
.border{

    border: 2px solid black ;
    position: absolute;
    width: 340px;
    height: 450px;
    /*display: table; /*this is for table div center*/
    /*display: flex; /*this is for center using flex*/
  /*justify-content: center;
  align-items: center;*/
   

    }

center{
    position:absolute;
  top: 0; 
  bottom: 0; 
  left: 120px;
  right: 0;
  margin: auto;
  height: 50px;
}
center{
position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
}

center{
    display: table-cell;
  text-align: center;
  vertical-align: middle;
}

center{
    margin: auto;

}

.center{
    align-self: center;
  margin: 0 auto;
}



