body{
    background-color:slategrey;
    font-style:italic;
    font-weight: bold;
    display: table;
}


center{
position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
}

table{
    display: table-cell;
  vertical-align: middle;
}
center{
    align-self: center;
  margin: 0 auto;
}

center{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);/*it is used to move element from position */
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

grid{
  display: grid;
  place-items: center;
  min-height: 100vh;
}


