.item1{
    border: 2px solid black;
    padding: 4px;
    background-color: gray;   
}
.item2{
    border: 2px solid black;
    padding: 4px;
    background-color: gainsboro;   
}
.item3{
    border: 2px solid black;
    padding: 4px;
    background-color: brown;   
}
.item4{
    border: 2px solid black;
    padding: 4px;
    background-color: chocolate;   
}
.item5{
    border: 2px solid black;
    padding: 4px;
    background-color: rgb(83, 22, 22);   
}
.container{
    border: 2px solid blueviolet;
    padding: 30px;

}