.navbar{
    background-color: slategray;
    overflow:hidden;
}
.navbar a {
    float: right;
    text-align: center;
    padding: 10px;
    text-decoration:none ;/*it removes the underline*/
    
}
.topnav a:hover {
    background-color:green;
  
}