body {
     font-family: sans-serif;
     display: flex;
    justify-content: center;
    padding-top: 20px 
     
 }
 
 .main {
     border: 0.125rem solid black;
     border-radius: 0.625rem;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     background-color: #ddd0c8;

 
 
 }
 
 .heading {
     display: flex;
     font-size: 1.5rem;
     justify-content: center;
     padding-top: 1rem;
 }
 
 
 .boxflex {
     border-bottom: 0.063rem solid black;
     display: flex;
     padding-inline: 3rem;
     padding-bottom: 1.2rem;
     padding-top: 1.2rem;
     /* padding: 1.3rem 3rem; */
     flex-direction: column;
 }
 
 .product-desc-box {
     display: flex;
     gap: 1.875rem;
     justify-content: space-between;
 
 }
 
 .product-price-box {
     display: flex;
     gap: 1.875rem;
     flex-wrap: wrap;
     justify-content: flex-end;
     align-content: space-around;
 }
 
 .imgborder {
     border: 0.125rem solid black;
     border-radius: 4px;
     background-color: white;
 }
 
 .buttongroup {
     border: 0.063rem solid black;
     border-radius: 0.313rem;
 
 }
 
 .buttongroup button {
     border-radius: 0.25rem;
     border: hidden;
     background-color: #ddd0c8;
 
 }
 
 .textbox {
     width: 1.25rem;
     border: 0.063rem solid black;
     border-top: hidden;
     border-bottom: hidden;
     background-color: #ddd0c8;
 }
 
 .updatingprice {
     border: hidden;
     width: 5.625rem;
 
 
 }
 
 .total {
     display: flex;
 
 }
 
 .totalbox {
     display: flex;
     justify-content: space-around;
     padding:3.125rem;
     gap: 5rem;
 
 }
 #updatePrice{
     display: flex;
 }
 
 .symbol{
     display: flex ;
 }
 
 .wrap{
    display: flex;
    gap: 1.875rem;

 }